@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@font-face {
  font-family: "askan";
  src: url("/fonts/Askan.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "askan-bold";
  src: url("/fonts/Askan-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "askan-medium";
  src: url("/fonts/Askan-Medium.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "askan", "askan-medium", "askan-bold";
}

@keyframes upndown {
  0%{
    transform: translateY(200);
    opacity: 0;
  }
  20%{
    transform: translateY(0);
    opacity: 1;
  }
  80%{
    transform: translateZ(0);
    opacity: 1;
  }
  100%{
    transform: translateY(-200);
    opacity: 0;
  }
}

.animate-upndown {
  animation: upndown ease-in-out 5s infinite;
}